@import "variables.css";
@import "module/topBar.css";
@import "module/nav-bar.css";
@import "module/default.css";
@import "module/footer.css";
@import "module/course-box.css";
@import "module/pagination.css";
@import "module/helperclass.css";
@import "module/breadcrumb.css";
@import "module/siderbarcourses-box.css";

/*Start article details Styles*/
.article {
  padding: 2.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
}
.article__title {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--dark-color);
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 1rem;
}
.article__haeder {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.article-header__text {
  font-size: 1.3rem;
  color: #8f8f8f;
}
.article-header__icon {
  font-size: 1.6rem;
  color: #c7c7c7;
}
.article__banner {
  margin-top: 4rem;
}
.article__score {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.article__score-icon {
  margin-left: -0.4rem;
}
.article__score-text {
  margin-right: 2rem;
  font-size: 1.7rem;
  color: #7d7e7f;
}
/*finish article details Styles*/

/*Start sidebar-articles*/
.course-info {
  overflow: hidden;
}
.course-info__courses-title {
  position: relative;
}
.course-info__courses-title:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 39px;
  background-color: var(--primary-color);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 12px;
  right: -2.8rem;
  top: -0.5rem;
  transform: skew(-10deg);
}
.sidebar-articles__list {
  margin-top: 2rem;
}
.sidebar-articles__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #eeeeee;
  padding: 0.9rem 1.3rem 0.9rem 1rem;
  transition:
    color 200ms linear,
    background-color 200ms linear,
    padding-right 200ms linear;
}
.sidebar-articles__link {
  transition: color 200ms linear;
  font-size: 1.3rem;
}
.sidebar-articles__link:hover {
  color: var(--primary-color);
}
.sidebar-articles__item:hover {
  color: var(--primary-color);
  padding-right: 2rem;
  background-color: #f8f9fa;
}
.last-articles__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #eeeeee;
  padding: 0.9rem 1.3rem 0.9rem 1rem;
  transition:
    color 200ms linear,
    background-color 200ms linear,
    padding-right 200ms linear;
}
.last-articles__item:hover {
  color: var(--primary-color);
  padding-right: 2rem;
  background-color: #f8f9fa;
  .last-articles__link {
    color: var(--primary-color);
  }
}
.last-articles__link {
  transition: color 200ms linear;
  font-size: 1.3rem;
}

/*Fininsh sidebar-articles*/
