@import "variables.css";
@import "module/topBar.css";
@import "module/nav-bar.css";
@import "module/default.css";
@import "module/footer.css";
@import "module/course-box.css";
@import "module/pagination.css";
.breadcrumb {
  margin-bottom: 2rem;
}
.breadcrumb__content {
  display: flex;
  background-color: #f0f2f7;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}
.breadcrumb__home--content-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  background-color: var(--white-color);
  font-size: 1.5rem;
}
.breadcrumb__home-icon {
  font-size: 1.8rem;
  color: #909aa7;
}
.breadcrumb__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
.breadcrumb__link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.5rem;
  /*color: #909aa7;*/
}
.breadcrumb__link-icon {
  font-size: 1.5rem;
  color: #909aa7;
}
.breadcrumb__link:hover {
  color: #444649;
}
.breadcrumb__link:hover .breadcrumb__link-icon {
  color: #444649;
}
/* Start Courses Info Styles*/
.courses-info {
  margin: 6rem 0;
}
.course-info__link {
  font-size: 1.2rem;
  color: var(--primary-color);
  border-radius: 0.3rem;
  padding: 0.4rem 1rem;
  background-color: #f9e79f;
}
.course-info__link:hover {
  color: var(--primary-color);
}
.course-info__title {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #464749;
}
.courses-info__text {
  font-size: 1.5rem;
  /*line-height: 1.5;*/
  margin-bottom: 3rem;
  color: #7b868a;
}
.course-info__social-media {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}
.course-info__social-media-item {
  color: #b1bbbf;
  transition: all 200ms ease;
}

/* استایل اولیه لینک */
.course-info__social-media-item {
  color: #333; /* رنگ اولیه آیکون */
  transition: color 0.3s ease-in-out;
  font-size: 2rem;
}
.icon-container:nth-child(3):hover {
  color: #e1306c;
}
.courses-info__vidoe {
  width: 100%;
  border-radius: 1rem;
}
/*Start Course Boxes Styles*/

.course-boxes__box {
  display: flex;
  border-radius: 0.5rem;
  padding: 1.8rem 2rem;
  box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
  margin: 1rem 0;
  align-items: center;
}
.course-boxes__box-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-boxes__box-right-icon {
  font-size: 3.2rem;
  color: var(--primary-color);
}
.course-boxed__box-left {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
.course-boxed__box-left-t {
  font-size: 1.6rem;
  color: #858c96;
}
.course-boxed__box-left-subtitle {
  font-size: 1.6rem;
  color: #7e7e7f;
}
/*Finish  Course Boxes Styles*/

/* finish Courses Info Styles*/
/* Start Course boxes progress Styles*/
.course-progress {
  border-radius: 1rem;
  margin: 3rem 0;
  padding: 2rem 2rem 1.2rem 2rem;
  background-color: #f0f2f7;
}
.course-progress__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.course-progress__icon {
  font-size: 2rem;
  color: #7b868a;
}
.course-progress__title {
  font-size: 1.5rem;
  color: #7b868a;
}
.course-progress__bar {
  border-radius: 10rem;
  height: 1rem;
}
.progress-bar {
  background-color: var(--primary-color);
}
/* Fimish Course box progress Styles*/
